<div class="conteiner-scroll">
    <div class="navbar-table">
       <a href="#">Casas</a>
       <a href="#">Apartamentos</a>
    </div>
    <div class="container-navbar-content">
       <form autocomplete="off">
             <div class="content-location">
                <h4>Localização</h4>
                <input type="text" placeholder="Digite sua locazação">
             </div>
             <div class="container-filter-ofertas">
                <h4>Ofertas</h4>
                <ul class="menu-ofertas">
                   <li><label class="CheckBox"><input id="Mega-Feirao" class="texto-input" type="checkbox" name="Mega-Feirao" checked=""><div>Mega Feirão</div></label></li>
                   <li><label class="CheckBox"><input id="Mega-Feirao" class="texto-input" type="checkbox" name="Mega-Feirao" checked="">Minha Casa Minha Vida</label></li>
                   <li><label class="CheckBox"><input id="Mega-Feirao" class="texto-input" type="checkbox" name="Mega-Feirao" checked="">Sua Casa</label></li>
                </ul>
             </div>
             <div class="container-icons-marca">
                <h4>Construtoras</h4>
                   <ul class="itens-icons">
                      <li id="card" *ngFor="let mm of imageScrollLeft"><img class="cards" [src]="mm.photo" alt=""></li>
                   </ul>
             </div>
             <div class="conteiner-habitacao">
                <div class="itens-container-habitacao">
                   <h4>Habitação</h4>
                   <ul>
                      <li><label class="CheckBox"><input id="Cidade" class="texto-input" type="checkbox" name="Cidade" checked=""><div>Cidade</div></label></li>
                      <li><label class="CheckBox"><input id="Interior" class="texto-input" type="checkbox" name="Interior" checked="">Interior</label></li>
                   </ul>
                </div>
             </div>
             <div class="conteiner-preco">
                <div class="itens-container-preco">
                   <h4>Preços</h4>
                   <ul>
                      <li><input class="botao-caract" type="text" placeholder="De: "> </li>
                      <li><input class="botao-caract" type="text" placeholder="Até: "></li>
                   </ul>
                </div>
             </div>
       </form>
    </div>
 </div>
 <div class="clear-button">
    <button id="limpaFiltros">Limpar</button>
 </div>
