.filter-house{
    height: 4rem;
    text-align: center;
    line-height: 4rem;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: blanchedalmond;
}

.filter-house > input{
    height: 3rem;
    width: 50rem;
    background-color: #fff;
    background-image: url('/assets/icon-search.png');
    background-repeat: no-repeat;
    background-size: 3rem;
    background-position: left 0.5rem center;
    z-index: 4;
    padding-left: 4rem;
    border-radius: 0.5rem;
    border: 1px solid black;
    font-size: 1rem;
}

.main-rigth{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
