
.container-main-rigth{
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 6rem;
}

.main-rigth {
    width: 70%;
    height: 100%;
    font-size: 1rem;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10PX;
    font-size: 1rem;
    padding: 0.5rem;
}
