<header class="fixed-header">
    <div class="container-menu">
        <div class="logo">
            <a href="#">logo</a>
        </div>
        <div class="list-links">
            <ul class="itens-list">
                <li>Compra</li>
                <li>Vende</li>
                <li>Serviços</li>
            </ul>
        </div>
        <div class="register">
            <ul class="itens-register">
                <li>icon-name</li>
                <li>icon-heart</li>
                <li>icon-mesage</li>
            </ul>
        </div>
    </div>
</header>

