
.container-menu{
    width: 100%;
    height: 100%;
    padding: 0 10px 0 10px;
    display: flex;
    align-items: center;
}

.container-menu .logo{
    width: 20%;
    text-align: center;
}

.container-menu .itens-list{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-right: 1px solid #dfe0e7;
}

.itens-register{
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}