
<nav class="container-menu">
    <a class="logo" href="#"><img [src]="interHeaders.logo" alt="" width="80px" height="60px"></a>
    <ul class="itens-list">
            <li><a href="#">{{interHeaders.comprar}}</a></li>
            <li><a href="#">{{interHeaders.vender}}</a></li>
            <li><a href="#">{{interHeaders.servico}}</a></li>  
    </ul>
    <ul class="itens-register">
            <li><a href="#"><img [src]="interHeaders.login" alt="" width="45px" height="45px"></a></li>
            <li><a href="#"><img  [src]="interHeaders.cor" alt="" width="45px" height="45px"></a></li>
            <li><a href="#"><img  [src]="interHeaders.msn" alt="" width="45px" height="45px"></a></li>
    </ul>
</nav>

            
    


