<header class="fixed-header">
    <div class="container-menu">
        <div class="logo">
            <a href="#"><img [src]="interHeaders.logo" alt="" width="80px" height="60px"></a>
        </div>
        <div class="list-links">
            <ul class="itens-list">
                <li><a href="#">{{interHeaders.comprar}}</a></li>
                <li><a href="#">{{interHeaders.vender}}</a></li>
                <li><a href="#">{{interHeaders.servico}}</a></li>  
            </ul>
        </div>
        <div class="register">
            <ul class="itens-register">
                <li><a href="#"><img [src]="interHeaders.login" alt="" width="45px" height="45px"></a></li>
                <li><a href="#"><img  [src]="interHeaders.cor" alt="" width="45px" height="45px"></a></li>
                <li><a href="#"><img  [src]="interHeaders.msn" alt="" width="45px" height="45px"></a></li>
            </ul>
        </div>
    </div>
</header>

